---
---

<footer>
  <div class="footer-links">
    <a href="https://blazor-mudblazor-starter-hmdqebc9f4eneeep.brazilsouth-01.azurewebsites.net/" target="_blank" rel="noopener noreferrer">Live Demo</a>
    <a href="https://github.com/jonathanperis/blazor-mudblazor-starter">GitHub</a>
    <a href="./docs/">Documentation</a>
  </div>
  <div class="credits">
    by <a href="https://github.com/jonathanperis">jonathanperis</a>
  </div>
</footer>
