---
---

<nav>
  <div class="logo">B.M. Starter</div>
  <div class="nav-links">
    <a href="https://blazor-mudblazor-starter-hmdqebc9f4eneeep.brazilsouth-01.azurewebsites.net/" target="_blank" rel="noopener noreferrer">Live Demo</a>
    <a href="./docs/">Docs</a>
    <a href="https://github.com/jonathanperis/blazor-mudblazor-starter">GitHub</a>
  </div>
</nav>
